# OS files
.DS_Store

# Environment
.env
.env.*
!.env.example
!.env.testing.example

# Dependency managers
.npmrc
/node_modules
npm-debug.log
yarn-error.log
/vendor

# IDEA
/.fleet
/.idea
/.vscode


# Testing
.phpunit.result.cache

# Public files
/public/hot
/public/build
/public/storage

# Storage
/storage/*.key
/storage/app/forms/signatures

# Auth
auth.json

# IDE helper
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# PHPStan
phpstan.neon

# Local compose (due to not having composer globally installed)
composer.phar
